body {
    color: $secondary-color-font;
    font-size: 14px;
}

.notification {
    color: $notification-color;
    border: 1px solid $notification-color;
    background-color: $notification-color-background;
    @include circle-badge(15px, 10px);
    display: block;
}

input {
    box-shadow:none !important;
}

.text-primary {
    color: $primary-color;
}

::-webkit-scrollbar {
    width: $scroll-size;
}

::-webkit-scrollbar-track {
    background: $scroll-track-color; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $scroll-thumb-color; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $scroll-thumb-color-hover; 
}