@mixin circle-badge($size, $font-size) {
    @include border-radius(99px);
    width: $size;
    height: $size;
    text-align: center;
    line-height: $size - 3px;
    font-size: $font-size;
}

@mixin vertical-align() {
    display: table-cell;
    vertical-align: middle;
}