 // Color
 $primary-color: rgb(0, 201, 116);
 $secondary-color: rgb(1, 179, 104);
 $tertiary-color: rgb(0, 161, 178);

 $secondary-color-header: #FFF;

 $status-color-online: rgb(0, 201, 116);

 $input-color: #FFF;

 $primary-color-font: rgb(60, 62, 67);
 $secondary-color-font: rgb(111, 111, 111);
 $secondary-color-font-light: rgba(111, 111, 111, 0.4);

 $widget-border: rgba(111, 111, 111, 0.2);

 $dashboard-color: rgb(246, 248, 249);
 $notification-color: rgb(255, 59, 48);
 $notification-color-background: #FFF;

 $warning-color: rgb(229, 150, 40);
 $article-related-ranking-color: rgb(221, 194, 27);
 $article-related-card-img-size: 200px;

 // Font size
 $font-size-menu: 14px;

 // Height
 $header-height-sm: 110px;
 $header-height: 70px;
 
 // Width
 $aside-width: 270px;
 $aside-width-collapse: 60px;
 $rate-widget-size: 20px;

 // Header
 $help-thumbnail-size: 25px;

 // Footer
 $footer-icon-size: 30px;

 // Scroll
 $scroll-size: 5px;
 $scroll-track-color: #D7D7D7;
 $scroll-thumb-color: $tertiary-color;
 $scroll-thumb-color-hover: darken($tertiary-color, 10%);


 // Spinner
 $spinner-size: 200px;
 $spinner-border-outside-size: 20px;
 $spinner-border-inside-size: 5px;
 $spinner-border-primary-color: rgb(194, 194, 194);
 $spinner-border-secondary-color: rgb(172, 172, 172);
 $spinner-border-metric-size: $spinner-border-outside-size - $spinner-border-inside-size;
 $spinner-gradient-primary-color: #01A1B1;
 $spinner-gradient-secondary-color: #1ECE86;
 $spinner-size-offset-small: 20px;
 $spinner-size-offset-ipad: 30px;

 // Card
 $card-content-size: 150px;

 // Dashboard
 $dashboard-neighborhood-graph-size: 25px;
 $dashboard-neighborhood-graph-neighbor-color: $tertiary-color;
 $dashboard-neighborhood-graph-you-color: $primary-color;

 // Bootstrap overrides
 $input-placeholder-color: #FFF;
 $theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color
);