.dashboard main {
    background-color: $dashboard-color;
    position: fixed;
    top: $header-height-sm;
    left: $aside-width;
    right: 0;
    bottom: 0;
    padding-top: 15px;
    overflow-x: hidden;
    overflow-y: auto;

    transition: all .3s ease-in-out;

    @include media-breakpoint-up(md) {
        top: $header-height;
    }

    & > header {
        @include make-row;
    }

    header {
        margin-bottom: 15px;
        
        .title {
            color: $secondary-color;
            @include make-col-ready();
            @include make-col(12);

            @include media-breakpoint-up(md) {
                @include make-col(6);
            }

            label {
                margin: 0;
                color: $secondary-color-font;
            }
        }

        .survey {
            @include make-col-ready();
            @include make-col(12);
            display: flex;
            flex-direction: row;
            
            @include media-breakpoint-up(md) {
                @include make-col(6);
                flex-direction: row-reverse;
            }

            div {
                display: flex;
                align-items: center;
            }
        }
    }

    .dashboard {
        .widget-graphic {
            @include make-row();

            & > div {
                @include make-col-ready;
                @include make-col(12);

                &.widget-graphic-spinner {
                    @include media-breakpoint-up(lg) {
                        @include make-col(4);
                    }
                }

                &.widget-graphic-barchart {
                    @include media-breakpoint-up(lg) {
                        @include make-col(8);
                    }
                }
            }

            .oe-card-chart footer label {
                display: table;

                i {
                    @include vertical-align;
                    font-size: 20px;
                }
            }
        
            .graph {
                height: 276.2px;
                background-color: $secondary-color-font-light;
                width: 100%;
                margin-bottom: 15px;

                & + footer label {
                    margin-bottom: 0;
                    color: $warning-color;
                }
            }
        }

        .widget-info {
            & > div {
                @include make-col(12);

                @include media-breakpoint-up(md) {
                    @include make-col(6);
                }
                @include media-breakpoint-up(lg) { // xs , sm (phone) , md (table) , lg (desktop) , xl (wide desktop)
                    @include make-col(4);
                }
            }

            .big-text-legend {
                font-size: 60px;
                line-height: 1.2;
                color: $secondary-color;

                @include media-breakpoint-down(sm) {
                    font-size: 50px;
                }
                @media (min-width: 1000px) and (max-width: 1024px) {
                    font-size: 50px;
                }

                span {
                    font-size: 14px;
                    display: block;
                    color: $secondary-color-font;
                }
            }

            .oe-card-emission {
                h5:first-of-type {
                    margin-bottom: 20px;
                }

                label {
                    margin-bottom: 5px;
                }
            }

            .oe-card-outage .no-outage {
                text-align: center;

                i {
                    display: block;
                    font-size: 40px;
                }
            }

            .oe-card-tip {
                .card-content {
                    h5 {
                        display: inline;
                    }

                    span.card-tip-icon {
                        @include float-left;
                        
                        i {
                            font-size: 35px;

                            &:last-of-type {
                                margin-left: -10px;
                            }
                        }
                    }

                    p {
                        margin-top: 7px;
                    }
                }
            }

            .oe-card-neighborhood {
                .chart {
                    border-bottom: 1px solid $secondary-color-font-light;
                    @include make-row();
                    margin: 0 0 10px;
                    height: 70px;

                    & > div {
                        @include make-col(6);

                        &.chart-bars {
                            text-align: center;
                            position: relative;

                            span {
                                width: $dashboard-neighborhood-graph-size;
                                position: absolute;
                                bottom: 0;
                            
                                &.chart-bars-neighbor {
                                    height: 70%;
                                    left: calc(50% - #{$dashboard-neighborhood-graph-size} - 5px);
                                    background-color: $dashboard-neighborhood-graph-neighbor-color;
                                }

                                &.chart-bars-you {
                                    height: 92%;
                                    right: calc(50% - #{$dashboard-neighborhood-graph-size} - 5px);
                                    background-color: $dashboard-neighborhood-graph-you-color;
                                }
                            }
                        }

                        &.chart-indicators {
                            ul {
                                padding-left: 10px;

                                li {
                                    list-style: none;
                                    padding-left: 15px;
                                    position: relative;
                                    line-height: 20px;

                                    &:before {
                                        content: "";
                                        display: block;
                                        width: 10px;
                                        height: 10px;
                                        position: absolute;
                                        left: 0;
                                        top: 5px;
                                    }

                                    &.chart-indicators-neighbor:before {
                                        background-color: $dashboard-neighborhood-graph-neighbor-color;
                                    }
        
                                    &.chart-indicators-you:before {
                                        background-color: $dashboard-neighborhood-graph-you-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrapper.dashboard .container-fluid {
    width: calc(100% - #{$aside-width-collapse});
    
    @include media-breakpoint-up(lg) {
        width: calc(100% - #{$aside-width});
    }
}

.wrapper.dashboard.side-menu-collapse {
    main {
        left: $aside-width-collapse;
    }

    .container-fluid {
        width: calc(100% - #{$aside-width-collapse});
    }
}