.wrapper.article {
    background-color: $dashboard-color;

    .oe-card .card-title {
        margin-bottom: 15px;
    }

    article {
        .breadcrumb {
            margin-bottom: 0;
            font-size: 12px;
            background: transparent;
            padding: 0;
        }

        .article-header {
            padding: 15px 0;

            h3 {
                color: $primary-color;
            }

            & > div {
                display: flex;

                .help-widget {
                    display: flex;
                    align-items: center;

                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
            }
        }

        .article-summary {
            @include make-row;
            margin-bottom: 20px;

            & > div {
                @include make-col-ready;
            }

            .article-summary-thumbnail {
                @include make-col(12);
                text-align: center;

                @include media-breakpoint-up(md) {
                    @include make-col(3);
                }
                
                div {
                    background-color: $primary-color;
                    width: 100%;
                    height: 100%;
                    display: table;
                
                    label {
                        color: $secondary-color-header;
                        font-size: 15px;
                        margin: 0;
                        line-height: 1;
                        display: table-cell;
                        vertical-align: middle;

                        @include media-breakpoint-down(sm) {
                            padding: 10px 0;
                        }
                        
                        strong {
                            display: block;
                            font-size: 30px;
                        }
                    }
                }
            }

            .article-summary-info {
                @include make-col(12);

                @include media-breakpoint-up(md) {
                    @include make-col(9);
                }

                .oe-card {
                    margin-bottom: 0;

                    .card-body {
                        @include make-row;
                        margin: 0;

                        .article-oe-card-fact {
                            @include make-col(12);

                            @include media-breakpoint-up(md) {
                                @include make-col(4);
                            }

                            label {
                                font-size: 1.5rem;
                                color: $primary-color;
                            }

                            ul li {
                                &:before {
                                    content: "✓   ";
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        .article-content .oe-article-list {
            padding-left: 0;
            list-style: none;

            li {
                padding-left: 20px;
                position: relative;
                margin-bottom: 15px;

                &:before {
                    content: ">";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: -1px;
                    color: $tertiary-color;
                }
            }
        }

        .article-related .article-related-outlet {
            @include make-row;

            .article-related-card {
                @include make-col-ready;
                @include make-col(12);

                @include media-breakpoint-up(md) {
                    @include make-col(6);
                }

                @include media-breakpoint-up(lg) {
                    @include make-col(3);
                }

                &:nth-of-type(1) figure div {
                    background-image: url(https://media.treehugger.com/assets/images/2012/08/nest-thermostat-featured2374234.jpeg);
                }

                &:nth-of-type(2) figure div {
                    background-image: url(https://www.boostmobile.com/content/dam/boostmobile/en/products/phones/apple/iphone-6/space-gray/device-front.png.transform/pdpCarousel/image.jpg);
                }

                &:nth-of-type(3) figure div {
                    background-image: url(https://images-na.ssl-images-amazon.com/images/I/81jQwgzSKML._SX425_.jpg);
                }

                &:nth-of-type(4) figure div {
                    background-image: url(https://files.kidde.com/home-safety/en/us/contentimages/900-0113.jpg);
                }
            }
        }
    }
}