.btn {
    @include border-radius(0);
}

.card {
    @include border-radius(0);
}

.text-muted {
    color: $secondary-color-font !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">"
}

ul {
    padding: 0;
    list-style: none;
}