.article-related-card {
    figure {
        figcaption {
            margin-top: 5px;
            min-height: 50px;
            max-height: 50px;

             a {
                color: $secondary-color-font;
                text-decoration: underline;

                &:hover {
                    color: $primary-color-font;
                }
            }
        }

        div {
            border: 1px solid $secondary-color-font-light;
            height: $article-related-card-img-size;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: relative;

            span.article-related-special-offer {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 30px;
                height: 30px;
                @include border-radius(99px);
                background-color: $primary-color;
                color: $input-color;
                text-align: center;
                display: table;

                i {
                    font-size: 0.9rem;
                    @include vertical-align;
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            color: $primary-color;
            font-weight: bold;
        }
    }
}