.oe-card {
    margin-bottom: 20px;

    .card-title {
        margin-bottom: 0;
    }

    .card-content {
        min-height: $card-content-size;
        max-height: $card-content-size;
        margin-bottom: 15px;

        &.card-content--center {
            display: table;
            width: 100%;

            & > div {
                @include vertical-align;
            }
        }
    }

    button {
        width: 100%;
    }

    &.oe-card--spinner {
        .spinner-graphic {
            margin: 25px 0;
            max-height: 200px;
            min-height: 200px;
        }

        footer {
            @include make-row();
            margin: 0;
            border-top: 1px solid $secondary-color-font-light;

            & > div {
                @include make-col(6);

                @include media-breakpoint-up(md) {
                    @include make-col(6);
                }

                label {
                    font-size: 45px;
                    color: $spinner-gradient-secondary-color;
                    margin: 0;

                    @include media-breakpoint-down(sm) {
                        font-size: 35px;
                    }
                    @media (min-width: 1000px) and (max-width: 1024px) {
                        font-size: 35px;
                    }

                    &.indicator--second {
                        color: $spinner-gradient-primary-color;

                        i {
                            color: $spinner-gradient-primary-color;
                        }
                    }

                    span {
                        display: block;
                        font-size: 14px;
                        color: $secondary-color-font;
                        margin-top: -12px;

                        i {
                            color: $spinner-gradient-secondary-color;
                            font-size: inherit;
                            position: relative;
                            top: 1px;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }

    &.oe-card-withou-btn .card-content {
        min-height: $card-content-size + 38px;
        max-height: $card-content-size + 38px;
    }
}