.help-widget {
    a {
        color: $secondary-color-font;
        display: table;

        i {
            display: table-cell;
            vertical-align: middle;
            font-size: 28px;
        }
    }

    .help-thumbnail {
        @include vertical-align;
        color: $secondary-color-header;

        span {
            display: block;
            background-color: $tertiary-color;
            @include circle-badge($help-thumbnail-size, 18px);
        }
    }

    .help-status {
        @include vertical-align;
        font-size: 14px;
        padding: 0 10px;
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        label {
            display: block;
            line-height: 1.3;
            margin: 0;

            &.help-status-status {
                position: relative;
                font-size: 12px;
                padding-left: 10px;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    background-color: $status-color-online;
                    @include border-radius(99px);
                    left: 2px;
                    top: 6px;
                }
            }
        }
    }
}