.rate-widget {
    &.rate-widget--1 {
        i:nth-of-type(1) {
            color: $primary-color;
        }
    }
    &.rate-widget--2 {
        i:nth-of-type(1),
        i:nth-of-type(2) {
            color: $primary-color;
        }
    }
    &.rate-widget--3 {
        i:nth-of-type(1),
        i:nth-of-type(2),
        i:nth-of-type(3) {
            color: $primary-color;
        }
    }
    &.rate-widget--4 {
        i:nth-of-type(1),
        i:nth-of-type(2),
        i:nth-of-type(3),
        i:nth-of-type(4) {
            color: $primary-color;
        }
    }
    &.rate-widget--5 {
        i:nth-of-type(1),
        i:nth-of-type(2),
        i:nth-of-type(3),
        i:nth-of-type(4),
        i:nth-of-type(5) {
            color: $primary-color;
        }
    }

    &.rate-widget--1.rate-widget--yellow {
        i:nth-of-type(1) {
            color: $article-related-ranking-color;
        }
    }
    &.rate-widget--2.rate-widget--yellow {
        i:nth-of-type(1),
        i:nth-of-type(2) {
            color: $article-related-ranking-color;
        }
    }
    &.rate-widget--3.rate-widget--yellow {
        i:nth-of-type(1),
        i:nth-of-type(2),
        i:nth-of-type(3) {
            color: $article-related-ranking-color;
        }
    }
    &.rate-widget--4.rate-widget--yellow {
        i:nth-of-type(1),
        i:nth-of-type(2),
        i:nth-of-type(3),
        i:nth-of-type(4) {
            color: $article-related-ranking-color;
        }
    }
    &.rate-widget--5.rate-widget--yellow {
        i:nth-of-type(1),
        i:nth-of-type(2),
        i:nth-of-type(3),
        i:nth-of-type(4),
        i:nth-of-type(5) {
            color: $article-related-ranking-color;
        }
    }

    i {
        font-size: $rate-widget-size;
        width: $rate-widget-size;
        color: $secondary-color-font-light;
    }
}