.spinner-graphic {
    text-align: center;

    .spinner-graphic__container {
        width: $spinner-size;
        height: $spinner-size;
        margin: 0 auto;
        border: $spinner-border-outside-size solid $spinner-border-primary-color;
        @include border-radius(99px);
        position: relative;
        display: table;

        @include media-breakpoint-down(xs) {
            width: $spinner-size - $spinner-size-offset-small;
            height: $spinner-size - $spinner-size-offset-small;
        }
        @media (min-width: 1000px) and (max-width: 1024px) {
            width: $spinner-size - $spinner-size-offset-ipad;
            height: $spinner-size - $spinner-size-offset-ipad;
        }

        _:-ms-fullscreen, :root &:before { 
            top: $spinner-border-outside-size - $spinner-border-inside-size;
            bottom: $spinner-border-outside-size - $spinner-border-inside-size;
            left: $spinner-border-outside-size - $spinner-border-inside-size;
            right: $spinner-border-outside-size - $spinner-border-inside-size;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -$spinner-border-inside-size;
            bottom: -$spinner-border-inside-size;
            left: -$spinner-border-inside-size;
            right: -$spinner-border-inside-size;
            @include border-radius(99px);
            border: $spinner-border-inside-size solid $spinner-border-secondary-color;

            // Edge
            @supports (-ms-ime-align:auto) {
                top: $spinner-border-outside-size - $spinner-border-inside-size;
                bottom: $spinner-border-outside-size - $spinner-border-inside-size;
                left: $spinner-border-outside-size - $spinner-border-inside-size;
                right: $spinner-border-outside-size - $spinner-border-inside-size;
            }
        }

        .spinner-graphic__metric {
            width: $spinner-size;
            height: $spinner-size;
            position: absolute;
            top: -20px;
            left: -20px;
            transform: rotate(-90deg);

            @include media-breakpoint-down(xs) {
                width: $spinner-size - $spinner-size-offset-small;
                height: $spinner-size - $spinner-size-offset-small;
            }
            @media (min-width: 1000px) and (max-width: 1024px) {
                width: $spinner-size - $spinner-size-offset-ipad;
                height: $spinner-size - $spinner-size-offset-ipad;
            }

            // Edge
            @supports (-ms-ime-align:auto) {
                top: 0;
                left: 0;
            }
            _:-ms-fullscreen, :root & { top: 0; left: 0; }

            circle {
                fill: transparent;
                stroke-width: 15px;
                stroke-dasharray: 300;
                stroke-linecap: round;

                r: $spinner-size / 2 - 8;
                cx: $spinner-size / 2;
                cy: $spinner-size / 2;

                @include media-breakpoint-down(xs) {
                    r: ($spinner-size - $spinner-size-offset-small) / 2 - 8;
                    cx: ($spinner-size - $spinner-size-offset-small) / 2;
                    cy: ($spinner-size - $spinner-size-offset-small) / 2;
                }
                @media (min-width: 1000px) and (max-width: 1024px) {
                    r: ($spinner-size - $spinner-size-offset-ipad) / 2 - 8;
                    cx: ($spinner-size - $spinner-size-offset-ipad) / 2;
                    cy: ($spinner-size - $spinner-size-offset-ipad) / 2;
                }
            }
        }

        .spinner-graphic__label {
            @include vertical-align;
            font-size: 55px;

            span {
                color: $secondary-color-font;
                font-size: 14px;
                margin-left: -12px;
            }
        }
    }
}