body > div.wrapper.article > footer {
    @include make-row;
    background-color: $primary-color;
    color: $secondary-color-header;

    @include media-breakpoint-down(sm) {
        padding-top: 15px;
    }
    
    & > div {
        display: flex;
        align-items: center;
        @include make-col-ready;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        p, label {
            margin: 0;
        }

        label {
            padding-right: 15px;
        }

        nav {
            color: $tertiary-color;

            ul {
                @include media-breakpoint-down(sm) {
                    flex-direction: row;
                }

                li {
                    opacity: 0.8;
                    padding: 8px;

                    &:hover {
                        opacity: 1;
                    }

                    a {
                        color: inherit;
                        width: $footer-icon-size;
                        height: $footer-icon-size;
                        @include border-radius(99px);
                        background-color: $tertiary-color;;
                        color: $primary-color;
                        display: inline-block;
                        text-align: center;
                        line-height: $footer-icon-size - 1;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}