body > div.wrapper > header {    
    div.sub-header {
        background-color: $dashboard-color;
    }

    nav {
        .profile {
            padding-right: 0;

            @include media-breakpoint-up(lg) {
                padding-right: 0.5rem;
            }

            a {
                display: table;
            }

            .profile-thumbnail {
                background-image: url(https://media.licdn.com/dms/image/C4E03AQE3M2ECwBMm_g/profile-displayphoto-shrink_200_200/0?e=1536796800&v=beta&t=ZAX6zGJhPs9ygzDleFkKn4ULJDQ_ib4UKo6j4Q1cwJw);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @include circle-badge(35px, 0);
                border: 1px solid $status-color-online;
                @include vertical-align;
            }

            .profile-name {
                padding-left: 10px;
                @include vertical-align;
                display: none;
                color: $secondary-color-font;

                @include media-breakpoint-up(lg) {
                    display: table-cell;
                }
            }
        }
    }

    h1 {
        font-size: 12px;
        color: $secondary-color-header;

        strong {
            font-size: 30px;
        }
    }
}

body > div.wrapper.article > header {
    .sub-header {
        @include make-row();

        nav {
            @include make-col-ready();

            @include media-breakpoint-down(sm) {
                ul {
                    flex-direction: row;

                    li {
                        padding: 0 8px;
                    }
                }
            }

            a {
                color: $tertiary-color;
                padding-bottom: 0;
                padding-top: 0;
            }

            .profile .profile-thumbnail {
                @include circle-badge(25px, 0);
            }
        }
    }

    .menu {
        @include make-row();
        background-color: $primary-color;

        nav {
            @include make-col-ready();
            color: $secondary-color-header;

            @include media-breakpoint-down(sm) {
                flex-direction: column;

                ul {
                    flex-direction: row;

                    li {
                        padding: 0 8px;
                    }
                }
            }

            a {
                color: inherit;
            }
        }
    }
}

body > div.wrapper.dashboard > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $secondary-color-header;
    height: $header-height;
    display: table;
    width: 100%;
    overflow: hidden;

    h1 {
        text-align: center;
        background-color: $primary-color;
        margin-bottom: 0;
        height: 40px;
        
        transition: all .3s ease-in-out;

        @include media-breakpoint-up(md) {
            width: $aside-width;
            display: table-cell;
            vertical-align: middle;
            height: auto;
        }

        & .logo-mini {
            display: none;
        }
    }

    nav {
        overflow: hidden;
        height: 70px;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
            display: table-cell;
            vertical-align: middle;

            height: auto;
        }

        ul {
            @include float-left;
            height: 100%;
            flex-direction: row;

            &.icons {
                li {
                    padding-right: 8px;

                    &:nth-of-type(2) a {
                        position: relative;
        
                        span {
                            position: absolute;
                            top: 10px;
                            right: 4px;
                        }
                    }
                }
            }

            &.user {
                @include float-right;

                a {
                    color: $secondary-color-font;
                }

                li {
                    padding: 0 15px;
                    position: relative;
    
                    &:before {
                        content: "";
                        display: block;
                        background-color: $widget-border;
                        width: 1px;
                        position: absolute;
                        top: -50%;
                        left: 0;
                        bottom: 0;
                        height: 500%;
                    }
                }
            }
        }

        a {
            color: $primary-color;
            display: table;
            height: 100%;
    
            i {
                display: table-cell;
                vertical-align: middle;
                font-size: 28px;
            }
        }
    }
}

body > div.wrapper.dashboard.side-menu-collapse > header {
    h1 {
        @include media-breakpoint-up(md) {
            width: $aside-width-collapse;
        }
        
        & .logo {
            display: none;
        }

        & .logo-mini {
            display: block;
        }
    }
}