body > div.wrapper.dashboard > aside {
    position: fixed;
    top: $header-height-sm;
    left: 0;
    bottom: 0;
    overflow: hidden auto;

    width: $aside-width;
    background-color: $primary-color;

    transition: all .3s ease-in-out;

    @include media-breakpoint-up(md) {
        top: $header-height;
    }

    nav {
        ul {
            &:first-of-type {
                border-bottom: 1px solid $secondary-color-font-light;
                padding-bottom: 10px;
                margin: 10px 0;
            }

            li {
                &.active a {
                    opacity: 1;
                }

                a {
                    &:hover {
                        opacity: 1;
                    }

                    color: $secondary-color-header;
                    opacity: 0.8;
                    line-height: 1;
                    display: table;
                    width: 100%;
                    padding: 8px 20px;

                    i {
                        font-size: 18px;
                        display: table-cell;
                        width: 28px;
                    }

                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }

        .search {
            input{
                border: 0;
                border-radius: 0;
                height: auto;
                padding: 20px 44px 20px 20px;
                width: 100%;
                background-color: $secondary-color;
                color: $input-color;
                position: relative;
            }

            i {
                color: $input-color;
                position: absolute;
                right: 20px;
            }
        }
    }
}

body > div.wrapper.dashboard.side-menu-collapse > aside {
    width: $aside-width-collapse;

    nav ul li a span {
        display: none;
    }

    nav .search input {
        padding-left: 18px;
        padding-right: 18px;
        
        & + i {
            background-color: $secondary-color;
        }
    }
}